<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Multi User Login</title>
	<!-- style -->
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body bgcolor="">

	<div class="form-login">
		<p class="lead">Login</p>
		<form action="" method="POST">

			<input type="text" placeholder="Username" name="">
			<input type="password" placeholder="Password" name="">
			<select>
				<option></option>
				<option>Doctor</option>
				<option>User</option>
                <option>Manager</option>
			</select>
			<input type="submit" value="login" name="">
		</form>
	</div>
</body>
</html>
</head>
<body>
    
</body>
</html>